<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Dexsheet!
  </h1>
</div>
<div >
  <fa name="fas fa-save" (click)="iconClickHandle('save')"></fa>
  <fa name="fas fa-print" style="margin-left:10px"></fa>
  <fa name="far fa-calendar" style="margin-left:30px"></fa>
  <fa name="fas fa-undo" style="margin-left:30px" (click)="undoPage()"></fa>
  <fa name="fas fa-repeat" style="margin-left:10px" (click)="redoPage()"></fa>
  <fa name="fas fa-paint-roller"></fa>
  <fa name="fas fa-paint-roller"></fa>
  <fa name="fas fa-print" (click)="printPage()"></fa>
  
</div>
<div >

</div>
<hot-table [hotId]="hotId" [colHeaders]="true" minRows= 50 minCols= 26 colWidths=100 [rowHeaders]="true" [data]="dataset"></hot-table>
<div>
  <hot-table [hotId]="printHotId" [colHeaders]="false" [maxRows]="printRows+1" [maxCols]="printCols+1" colWidths=100 [rowHeaders]="false" [data]="printDataSet"></hot-table>
</div>
<!-- <table id="printHotId" [hidden]="!displayPrintTable">
  <tr *ngFor="let row of printDataSet;">
      <td *ngFor="let col of row">{{col}}</td>
  </tr>
</table> -->
<input type="hidden" id="rowRange" name="rowRange" value="0" />
<input type="hidden" id="colRange" name="colRange" value="0" />

<!-- <ng-sheet row="1000" column="26" minWidth="70" minHeight="0"></ng-sheet> -->
<!-- <div class="App-panel">
  <wj-flex-grid [itemsSource]="data">
  </wj-flex-grid>
</div> -->
<!-- <router-outlet>

</router-outlet> -->